
/**css styles**/
/* <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> */
/*@import url('https://fonts.google.com/specimen/Manrope');*/


:root{

    --background-active-button-body-color:hsl(217, 19%, 35%);
}
*,::before,::after{
    box-sizing:border-box;
}
body {
      font-size:13px;
      color:var(--background-active-button-body-color);
}
#word{
    color:hsl(210, 46%, 95%);
}
.share-button{
    border-radius:50%;
}

.share-button:active {
    background-color:var(--background-active-button-body-color);
    /* box-shadow: 0 5px #666; */
    /* transform: translateY(4px); */
  }

  .white{
      
      background:white;
  }




@media screen and (min-width:300px){
    .main-flex{
        display:flex;
        flex-direction:column;
        justify-content: space-between;
    }
    .second-flex{
        display:flex;
        flex-direction:row;
        justify-content:space-between;

    }
    .fimG{

        width:100% !important;

    }
    .share{

        width:20px;
        height:20px;
        transform:translateY(0%);  
    }

    /* .share:active { */
        /* background-color:hsl(210, 46%, 95%) */
        /* box-shadow: 0 5px #666; */
        /* transform: translateY(4px); */
      

    
    .imago{
        width:50px;
        height:50px;
        border-radius:45%;
    
    }

    #trans {
        transform: translate(45%,-150%);
    
    
    }

    .draw{
        width:300px;
    }
    .social-share{
        /* position:fixed; */
        visibility:hidden;
        display:flex;
        /* height:114px; */
        flex-direction:row;
        justify-content:space-around;
        background:var(--background-active-button-body-color);
    }

    .bg-buttton{
        background:var(--background-active-button-body-color);
    }
    
    .open-social-share{
    
        visibility:visible;
        transform:translateY(-450%);
        /* height:114px; */
        width:90%;
        margin-right:10%;
    }
}

@media screen and (min-width:800px){

    .main-flex{
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
    }

    .second-flex{
        display:flex;
        flex-direction:row;
        justify-content:space-between;

    }
    .share {

        width:40px;
        height:40px;
        transform:translateY(0%);
    
    
    }

    .imago{
        width:100px;
        height:100px;
        border-radius:48%;
    
    }

    #trans {
        transform: translate(90%,-270%);
    
    
    }

    .draw{
        width:600px;
    }

    .ext {
        width:120%;

    }

    .social-share{
        /* position:fixed; */
        width:70%;
        margin:auto;
        visibility:hidden;
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        background:var(--background-active-button-body-color);
        
    }
    
    .open-social-share{

        visibility:visible;
        width:50%;
        margin:auto;
        transform:translate(110%,-1580%);
    }

}



